<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Enable Hibernate SQL logs -->
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <!-- Enable Hibernate parameter binding logs -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
</configuration>